<div class="generic-container">
    <div class="alert alert-success" role="alert" ng-if="ctrl.successMessage">{{ctrl.successMessage}}</div>
    <div class="alert alert-danger" role="alert" ng-if="ctrl.errorMessage">{{ctrl.errorMessage}}</div>
    <div class="row" ng-hide="!ctrl.getAllEmployees().length">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong >Employee Details</strong>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Job</th>
                            <th>Head Hunter</th>
                            <th>Recruited Date </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="emp in ctrl.getAllEmployees()">
                            <td>
                                <button class="btn btn-success"
                                        ng-click="ctrl.editEmployee(emp.id)">
                                    <span class="glyphicon glyphicon-pencil"></span>Edit
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger"
                                        ng-click="ctrl.confirmDelete(emp.id)">
                                    <span class="glyphicon glyphicon-pencil"></span>Delete
                                </button>
                            </td>
                            <td>{{emp.firstName}}</td>
                            <td>{{emp.lastName}}</td>
                            <td>{{emp.job.title}}</td>
                            <td>{{emp.headhunter.name}}</td>
                            <td>{{emp.recruitedDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>JobDetail Form</strong>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <form class="form-horizontal" name="myForm" ng-submit="ctrl.submit()" novalidate>
                    <input type="hidden" ng-model="ctrl.employee.id"/>
                    <div class="form-group" ng-class="{ 'has-error' : myForm.firstName.$invalid && (myForm.firstName.$dirty)}">
                        <label class="control-lable col-md-2">First Name:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="firstName" placeholder="First Name"
                                   ng-model="ctrl.employee.firstName" ng-required="true">
                            <p
                                    ng-show="myForm.firstName.$error.required && (myForm.firstName.$dirty)"
                                    class="help-block">First Name is required.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : myForm.lastName.$invalid && (myForm.lastName.$dirty)}">
                        <label class="control-lable col-md-2">Last Name:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="lastName" placeholder="Last Name"
                                   ng-model="ctrl.employee.lastName" ng-required="true">
                            <p
                                    ng-show="myForm.lastName.$error.required && (myForm.lastName.$dirty)"
                                    class="help-block">Last Name is required.</p>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : myForm.gender.$invalid && (myForm.gender.$dirty)}">
                        <label class="control-lable col-md-2">Gender:</label>
                        <div class="col-md-10">
                            <input type="radio" ng-model="ctrl.employee.gender"  name="gender" value="MALE" ng-required="!ctrl.employee.gender">Male
                            <input type="radio" ng-model="ctrl.employee.gender" name="gender" value="FEMALE" ng-required="!ctrl.employee.gender">FeMale
                            <p ng-show="myForm.gender.$error.required && (myForm.gender.$dirty )" class="help-block">Gender.</p>
                        </div>

                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : myForm.headhunter.$invalid && (myForm.headhunter.$dirty)}">
                        <label class="control-lable col-md-2">Head Hunter:</label>
                        <div class="col-md-10">
                            <select
                                    ng-model="ctrl.employee.headhunter" class="form-group"
                                    name="headhunter"
                                    ng-options="headhunter.name for headhunter in ctrl.getAllHeadhunters() track by headhunter.id" ng-required="true">
                                <option value="">-- choose headhunter --</option>
                            </select> <p
                                    ng-show="myForm.headhunter.$error.required && (myForm.headhunter.$dirty)"
                                    class="help-block">Head Hunter is required.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : myForm.job.$invalid && (myForm.job.$dirty)}">
                        <label class="control-lable col-md-2">Job:</label>
                        <div class="col-md-10">
                            <select
                                    ng-model="ctrl.employee.job" class="form-group"
                                    name="job"
                                    ng-options="job.title for job in ctrl.getAllJobDetails() track by job.id" ng-required="true">
                                <option value="">-- choose job --</option>
                            </select> <p
                                ng-show="myForm.job.$error.required && (myForm.job.$dirty)"
                                class="help-block">Job is required.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : myForm.recruitedDate.$invalid && (myForm.recruitedDate.$dirty)}">
                        <label class="control-lable col-md-2">Recruited Date:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="recruitedDate" placeholder="Recruited Date"
                                   ng-model="ctrl.employee.recruitedDate" ng-required="true" datepicker>
                            <p
                                    ng-show="myForm.recruitedDate.$error.required && (myForm.recruitedDate.$dirty)"
                                    class="help-block">Recruited Date is required.</p>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="submit" value="{{!ctrl.employee.id ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm"
                                   ng-disabled="myForm.$invalid || myForm.$pristine">
                            <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm"
                                    ng-disabled="myForm.$pristine">Reset Form
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
