<div class="generic-container">
    <div class="alert alert-success" role="alert" ng-if="ctrl.successMessage">{{ctrl.successMessage}}</div>
    <div class="alert alert-danger" role="alert" ng-if="ctrl.errorMessage">{{ctrl.errorMessage}}</div>
    <div class="row" ng-hide="!ctrl.getAllJobDetails().length">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong >Job Details</strong>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th>Title</th>
                            <th>code</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="jobdetail in ctrl.getAllJobDetails()">
                            <td>
                                <button class="btn btn-success"
                                        ng-click="ctrl.editJobDetail(jobdetail.id)">
                                    <span class="glyphicon glyphicon-pencil"></span>Edit
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger"
                                        ng-click="ctrl.confirmDelete(jobdetail.id)">
                                    <span class="glyphicon glyphicon-pencil"></span>Delete
                                </button>
                            </td>
                            <td>{{jobdetail.title}}</td>
                            <td>{{jobdetail.code}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>JobDetail Form</strong>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <form class="form-horizontal" name="myForm" ng-submit="ctrl.submit()" novalidate>
                    <input type="hidden" ng-model="ctrl.jobdetail.id"/>
                    <div class="form-group" ng-class="{ 'has-error' : myForm.title.$invalid && (myForm.title.$dirty)}">
                        <label class="control-lable col-md-2">Title:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="title" placeholder="title"
                                   ng-model="ctrl.jobdetail.title" ng-required="true">
                            <p
                                    ng-show="myForm.title.$error.required && (myForm.title.$dirty)"
                                    class="help-block">Title is required.</p>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : myForm.code.$invalid && (myForm.code.$dirty)}">
                        <label class="control-lable col-md-2">Code:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="code" placeholder="code"
                                   ng-model="ctrl.jobdetail.code" ng-required="true">
                            <p
                                    ng-show="myForm.code.$error.required && (myForm.code.$dirty)"
                                    class="help-block">Code is required.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : myForm.recruitCostPerMan.$invalid && (myForm.recruitCostPerMan.$dirty)}">
                        <label class="control-lable col-md-2">Recruit Cost Per Man:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="recruitCostPerMan" placeholder="recruitCostPerMan"
                                   ng-model="ctrl.jobdetail.recruitCostPerMan" ng-required="true">
                            <p
                                    ng-show="myForm.recruitCostPerMan.$error.required && (myForm.recruitCostPerMan.$dirty)"
                                    class="help-block">Recruit Cost Per Man is required.</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="submit" value="{{!ctrl.jobdetail.id ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm"
                                   ng-disabled="myForm.$invalid || myForm.$pristine">
                            <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm"
                                    ng-disabled="myForm.$pristine">Reset Form
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
